.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.skills1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.skills-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

.skills-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}

.section__paddings {
    padding: 0 4rem;
}

.skills-heading p {
    color: white;
    font-size: 2rem;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);
    margin-top: .1rem;
    margin-bottom: 2rem;
}

.skills-container {
    flex: 1.2;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    color: white;
    margin-top: 50px;
    margin-right: 30px;
}

.about__skills {
    border: 1px solid violet;
    padding: 2rem;
    margin: 0 2rem;
    width: 100%;
}

.skills__container {
    gap: 0;
}

.skills__number,
.skills__name {
    color: white;
}

.skills__header {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color: var(--color-subtext);
}

.skills__icon {
    margin-right: .75rem;
}

.skills__title {
    font-size: 1.25rem;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.skills__subtitle {
    font-size: .75rem;
    color: white;

}

.skills__arrow {
    margin-left: auto;
    transition: .4s;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name {
    font-size: .75rem;
    font-weight: 500;
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: 0.25rem;
}

.skills__bar {
    background-color: var(--color-text);
}

.skills__percentage {
    display: block;
    background: var(--gradient-text);

}

.skills__html {
    width: 80%;
}

.skills__css {
    width: 70%;
}

.skills__ractjs {
    width: 70%;
}

.skills__javascript {
    width: 40%;
}

.skills__nodejs {
    width: 80%;
}

.skills__mongodb {
    width: 70%;
}

.skills__angular-js {
    width: 70%;
}

.skills__C-Programming {
    width: 60%;
}

.skills__C {
    width: 40%;
}

.skills__javascript {
    width: 80%;
}

.skills__data-stucture {
    width: 60%;
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list {
    height: max-content;
    margin-bottom: 2.5rem;
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

.grids {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
}


@media screen and (max-width: 990px) {
    .skills {
        flex-direction: column;
    }

    .skills-heading {
        margin: 0 0 2rem 0;
    }
}


@media (max-width: 800px) {
    .skills {
        text-align: center;
    }

    .skills-heading {

        text-align: center;
        font-size: 20px;
    }

    .skills-heading p {
        margin: auto;

    }

    .skills-heading h1 {
        margin-top: 20px;
    }

    .skills1 {
        padding: 2px;
        width: 90%;
        flex-direction: column;
    }

    .about__skills {
        margin: 2rem;
    }

    .aaa {
        margin: .1rem;
        padding: 2rem;
    }

    .skills-container {
        display: block;
        margin: 0;
        padding: 0;
        justify-content: center;
    }


}