
.project__title{
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: bolder;
    margin-left: 120px;
}
.project__title-name1{
    background: var(--gradient-text-reverse);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.projects__container{
    width:100%;
    max-height: max-content;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 1.5rem;
    margin-top: 80px;

    
}
.project__container1{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 70%;
    /* max-height: max-content; */
    /* padding:0 1rem; */
}
.project__img{
    /* width: 100%; */
    /* height: 40%; */
}
.project__imgs{
    /* width: 100%; */
    height: 70%;
}
.project__img img
{
    width: 100%;
    height: 100%;
}
.project__imgs img{
    /* width:100%; */
    height: 70%;
}
.project__details,
.project__subdetails{
    display: grid;
    grid-template-rows: 1fr 20fr 1fr;
    background-color: var(--color-footer);
    width: 100%;
    color: white;
    padding: 1rem;
}
.project__detail-title h2{
    font-family: var(--font-family);
    font-size: 2rem;
    padding: 1rem 0;
    letter-spacing: 1px;
}
.project__detail-title p{
    color: var(--color-text);
    letter-spacing: 1px;
}
.project__subdetails{
    margin-top: -70px;
    font-size: 12px;
    height: 100%;
}
.project__container2{
    width:100%;
    height: 100vh;
}
.project__subcontainers{   width:100%;
    max-height: max-content;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: repeat(2,2fr);
    /* margin: 2rem; */
}
.project__subcontainer1,
.project__subcontainer2,
.project__subcontainer3,
.project__subcontainer4{
   width:100%;
    height: 44vh;
    /* margin: 1rem; */

}
.project__subcontainer3,
.project__subcontainer4{
    margin-top: 115px;
}

@media (max-width:800px) {
    
    .project__title{
        font-size: 18px;
        margin-left: 30px;
        text-align: center;
    }
    .projects__container{
        grid-template-columns: none;
        width: auto;
        /* height: 50%; */
    }
    .project__subcontainers{
        grid-template-columns: none;
    }
    .project__container1{
        width: 100%;
        height: 100%;
    }
    .project__container2{
        margin-top: -150px;
        height: 50%;
    }
    .project__details{
        height: 50%;
    }
    .project__detail-title p{
        height: 50%;
        /* width: 30%; */
        overflow: scroll;
    }
    .project__subcontainer1{
        margin-top: 1px;
        height: 50%;
    }
    .project__subcontainer2{
        margin-top: -150px;
        height: 60%;
    }
    .project__subcontainer3{
        height: 60%;
        margin-top: -180px;
    }
    .project__subcontainer4{
        /* height: 50%; */
        margin-top: -200px;
    }
}