.project__title {
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: bolder;
    margin-left: 120px;
}

.project__title-name1 {
    background: var(--gradient-text-reverse);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.projects__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    margin-top: 80px;
}

.project__container1 {
    display: flex;
    flex-direction: column;
}
.project__img img {
    width: 100%;
    height: 100%;
}


.project__details,
.project__subdetails {
    display: flex;
    flex-direction: column;
    background-color: var(--color-footer);
    color: white;
    padding: 1rem;
    flex: 1;
}
.project__subcontainer{
    display: flex;
    flex-direction: column;
}
.project__detail-title h2 {
    font-family: var(--font-family);
    font-size: 2rem;
    padding: 1rem 0;
    letter-spacing: 1px;
}
.project__detail-title{
    flex: 1;
}
.project__detail-title p {
    color: var(--color-text);
    letter-spacing: 1px;
}

.project__subdetails {
    font-size: 12px;
}

.project__container2 {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 50%);
}
.project__read-more{
    margin-top: 20px;
    text-align: end;
}
@media (max-width:800px) {

    .project__title {
        font-size: 18px;
        margin-left: 30px;
        text-align: center;
    }

    .projects__container {
        grid-template-columns: none;
        width: auto;
        /* height: 50%; */
    }

    .project__container2 {
        grid-template-columns: none;
    }

    .project__container1 {
        width: 100%;
        height: 100%;
    }

    .project__details {
        height: 50%;
    }

    .project__detail-title p {
        height: 50%;
        /* width: 30%; */
        overflow: scroll;
    }

    .project__subcontainer1 {
        margin-top: 1px;
        height: 50%;
    }

    .project__subcontainer2 {
        margin-top: -150px;
        height: 60%;
    }

    .project__subcontainer3 {
        height: 60%;
        margin-top: -180px;
    }

    .project__subcontainer4 {
        /* height: 50%; */
        margin-top: -200px;
    }
}