.contact__container {
    background: var(--color-footer);
    width: 100%;
    height: 60vh;
    margin-top: 60px;
    text-align: center;
}

.contact__title {
    font-family: var(--font-family);
    font-size: 4rem;
    font-weight: 900;
}

.resume__link {
    margin: 4rem;

}

.resume__link a {
    padding: .7rem 3rem;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (max-width:800px) {
    .contact__container {
        margin-top: 20vh;
        height: 70vh;
    }

    .contact__title {
        font-size: 3rem;
    }
}