.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 1.3rem 6rem;
}
.navbar-links{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
.navbar-links-logo{
    margin-right: 2rem;
    margin-top: -10px;
}
.navbar-links-logo img{
    width: 70px;
    height: 70px;
}

.navbar-links__container{
    display: flex;
    flex-direction: row;

}
.navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links__container p,
.navbar-sign p,
.navbar-links-logo p,
.navbar-menu__container p{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}
.navbar-links-logo p{
    font-weight: 600;
    font-size:28px ;
    text-align: center;
    justify-content: center;
}
.navbar-sign button,
.navbar-menu__container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.navbar-menu{
    margin-left: 1rem;
    /* display: none; */
    position: relative;
}
.navbar-menu svg{
    cursor: pointer;
}
.navbar-menu__container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: transparent;
    /* padding: 2rem; */
    position: absolute;
    right: 0;
    top: 40px;
    /* margin-top: 1rem; */
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);


}
.navbar-menu__container p{
    margin: 1rem 0;
}
.navbar-menu_container-links-sign {
    display: none;
}
@media screen and (max-width: 975px) {
    .navbar-links_container {
        /* display: none; */
    }
    /* .navbar-sign{
        display: none;
    } */
    /* .navbar-menu {
        display: flex;
    } */
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 1rem;
    }
    .navbar-sign{
        display: none;
    }
}

@media screen and (max-width:550px) {
    .navbar{
        padding: 1rem;
        
    }   
    .navbar-links__container{
        display: none;
    } 
    .navbar-sign{
        display: none;
    }
    .navbar-menu{
        display: flex;
    }
    .navbar-menu__container{
        top:20px;
    }
    .navbar-menu_container-links-sign{
        display: block;
    }
}
@media (max-width:400px) {
    .navbar-links-logo img{
        width: 60px;
        height: 60px;
    }
}

