
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;
  }
  
  body {
    background: var(--color-bg);
    font-family: var(--font-family);
    
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  .h10{
    height: 100vh;
  }
  .app{
    position: relative;
  }
  .gradient__bg {
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    /* global 90%+ browsers support */
    background:conic-gradient(from 90deg at 0% 100%, rgba(0, 0, 0, 1) 98%, rgba(7, 58, 187, 1) 100%);
}
.gradient__brd{
  border: 1px solid violet;
}
.gredient_txt{
  background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
  
  .gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .section__padding {
    padding: 4rem 5rem;
  }
  
  .section__margin {
    margin: 4rem 6rem;
  }
  
  .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}
@media  (max-width: 400px) {
  .section__padding {
      padding: 1rem;
      }
  .section__margin{
    margin: 1rem;
  }
}
img {
    min-width: 100%;
    height: auto;
}
.line{
  width:40px;
  height:4px;
  background:linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%) ;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin: 4px 4px;
}
@media (max-width:800px) {
  .line{
    text-align: center;
    margin: auto;
  }
  .section__padding {
    padding: 1rem;
    }
}

.button {
  display: inline-block;
  padding: .4rem;
  border-radius: 0.2rem;
  /* font-weight: var(--font-medium); */
  /* background-color: white; */
  color: var(--color-subtitle);
  border: 1px solid var(--color-subtitle);
  box-shadow: inset 0 0 0 0 var(--first-color-alt);
  transition: ease-out 0.15s;
  outline: none;
  transition: .15s;
}

.button:hover {
  box-shadow: inset 30vw 0 0 0 var(--color-subtitle);
  outline: none;
  font-weight: 900;
  transition: .5s;
}

.button-icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-25);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
  margin: 10px;
}

/* .section__title {
  font-size:1.5rem;
  color: white;
  text-transform:capitalize;

} */


/* .section {
    padding: 2rem 0 4rem;
    transition: transform 1s, opacity 1s;
}
.section--hidden{
    opacity: 0;
    transform: translateY(8rem);
}



.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid {
  display: grid;
  gap: 1.5rem;
} */


  @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  /* @media screen and (max-width: 700px) {
    .section__padding {
      padding: 4rem;
    }
  
    .section__margin {
      margin: 4rem;
    }
  }
  
  @media screen and (max-width: 550px) {
    .section__padding {
      padding: 4rem 2rem;
    }
  
    .section__margin {
      margin: 4rem 2rem;
    }  
  } */