.intro {
 position: absolute;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 gap: 8%;
 justify-content: center;
}

.intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    font-weight: 900;
    color: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    color: rgb(243, 235, 235);
    -webkit-test-stroke: 2px rgb(7, 7, 7);
}

.intro>a{
    background-color: transparent;
    color: var(--color-subtext);
    width: 15vw;
    font-size: 1.2vw;
    font-weight: 600;
    border: 1px solid var(--color-subtext);
    box-shadow: inset 0 0 0 0 var(--first-color-alt);
    transition: ease-out 0.15s;
    outline: none;
    transition: .15s;
}

.intro>a:hover {
    box-shadow: inset 30vw 0 0 0 var(--color-subtext);
    color: white;
    outline: none;
    font-weight: 900;
    transition: .5s;
}
.header__social{
    position: absolute;
    right: 2%;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    padding: 10px;
    font-size: 1.5rem;
}
.name {
    font-size: 8vw;
    color: transparent;
    -webkit-text-stroke: 1px #FFF;
    background: url('../../assests/back.png');
    background-clip: text;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    text-transform: uppercase;
}

@keyframes back {
    100% {
        background-position: 5000px 0;

    }
}

@media (max-width: 800px) {
    .intro {
        padding: 20px 20px;
        max-height: max-content;
        line-height: 50px;
    }

    .intro h1 {
        font-size: 5vh;
        width: 100%;
        margin-top: 50px;
        margin-left: 20px;
    }

    .name {
        font-size: 60px;
        margin-bottom: 50px;
    }

    .intro a {
        width: 80vw;
        margin-left: 20px;
        font-size: 30px;
    }
    .header__social{display: none}
}